<div class="container">

	<div class="hero-content-outer hero-content-outer-bottom">
		<div class="hero-content-inner hero-content-inner-bottom background-white col-xs-12 col-md-10 col-md-push-1">
			<div class="hero-bottom-content l-pull-up-xs-2 l-pull-up-md-0">
				<div class="hero-bottom-content-frame">
					<div class="hero-bottom-content-frame">
						<div class="row">
							<div class="col-sm-7 col-md-9">
								<div class="hero-bottom-content-copy">
									<div class="section-heading">Receive 60,000 bonus Macquarie Reward points</div>
									<hr>
									<p>Apply and be approved for the Macquarie Black Card with Macquarie Rewards and you'll receive 60,000
										Macquarie Reward points<a href="javascript:;" mq-scroll-to="footnote-asterisk">*</a> when you spend $3,000 on
										eligible purchases within 60 days of approval. Redeem your points with online and mobile banking.</p>
									<br>
									<p><a ui-sref="calculator" href="/calculator" class="btn btn-primary btn-fixed-width">Redeem your points</a></p>
								</div>
							</div>
							<div class="col-sm-5 col-md-3">
								<img class="hero-bottom-content-image" src="//static.macquarie.com/dafiles/Internet/mgl/au/personal/media/credit-cards/images/canstar-cc.png?v=2">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="section-heading">{{$ctrl.faqHeading}}</div>

	<div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
		<div class="card border-primary">
			<div class="card-header bg-primary text-white" role="tab" id="headingOne">
				<div role="button" data-toggle="collapse" class="accordion-toggle" data-parent="#accordion" href="#collapseOne"
				 aria-expanded="true" aria-controls="collapseOne">
					How many points can I collect?
				</div>
			</div>
			<div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
				<div class="card-body">
					Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
					officia aute,
					non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
					aliqua
					put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft
					beer
					labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat
					craft
					beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore
					sustainable
					VHS.
				</div>
			</div>
		</div>
		<div class="card border-primary">
			<div class="card-header bg-primary text-white" role="tab" id="headingTwo">
				<div class="collapsed accordion-toggle" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"
				 aria-expanded="false" aria-controls="collapseTwo">
					When does the offer end?
				</div>
			</div>
			<div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
				<div class="card-body">
					Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
					officia aute,
					non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
					aliqua
					put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft
					beer
					labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat
					craft
					beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore
					sustainable
					VHS.
				</div>
			</div>
		</div>
		<div class="card border-primary">
			<div class="card-header bg-primary text-white" role="tab" id="headingThree">
				<div class="collapsed accordion-toggle" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"
				 aria-expanded="false" aria-controls="collapseThree">
					What cards are included in this promotion?
				</div>
			</div>
			<div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
				<div class="card-body">
					Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
					officia aute,
					non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
					aliqua
					put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft
					beer
					labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat
					craft
					beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore
					sustainable
					VHS.
				</div>
			</div>
		</div>
	</div>

	<br>

</div>